{% extends 'icparsa/template/main.html' %}
{% block content %}

    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="font-size: x-small">
                <div class="contract-container" style="height: 450px; overflow: auto;">
                    <table class="table table-hover table-bordered table-sm small " id="tbl">
                        <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>Name</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for sct in secondPartyTypes %}

                            <tr>

                                <td>{{ sct.number }}</td>
                                <td>{{ sct.name }}</td>


                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}