{% extends 'icparsa/template/main.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h4 style="font-size: smaller; text-align: center">Record New Title</h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="font-size: x-small">
                <form method="post" action="" id="titleFormId"
                      unit_url_loader="{% url 'loadUnit' %}"
                      department_url_loader="{% url 'load_department' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-2">
                            {{ titleForm.number|as_crispy_field }}
                        </div>
                        <div class="form-group col-2">
                            {{ titleForm.name|as_crispy_field }}
                        </div>
                        <div class="form-group col-2">
                            {{ titleForm.company|as_crispy_field }}
                        </div>
                        <div class="form-group col-2">
                            {{ titleForm.department|as_crispy_field }}
                        </div>
                        <div class="form-group col-2">
                            {{ titleForm.unit|as_crispy_field }}
                        </div>
                    </div>
                    <br>
                    <input type="submit" name="Send" class="btn btn-sm btn-info">
                    <a href="/cop/lt" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-list"></i> List
                    </a>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $("#id_company").on("change", function () {
            const url = $("#titleFormId").attr("department_url_loader");
            const companyId = $(this).val();
            $.ajax({
                url: url,
                data: {'company_id': companyId},
                success: function (data) {
                    console.log(data);
                    $("#id_department").html(data)
                }
            });
        });
    </script>
    <script>

        $("#id_department").on("change", function () {
            const url = $("#titleFormId").attr("unit_url_loader");
            const departmentId = $(this).val();
            $.ajax({
                url: url,
                data: {'department_id': departmentId},
                success: function (data) {
                    console.log(data);
                    $("#id_unit").html(data)
                }
            });
        });

    </script>

{% endblock %}