{% extends 'icparsa/template/main.html' %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <form>
                        <div class="row">
                            <div class="col-3 p-0">
                                <a class="btn btn-outline-primary btn-sm p-1" href="/cor/cor">
                                    <i class="fa-solid fa-building"></i>
                                    Add Correspondence
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="font-size: x-small">
                <table class="table table-striped table-bordered table-sm small " id="tbl">

                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>organisation</th>
                        <th>subject</th>
                        <th>reference_number</th>
                        <th>department</th>
                        <th>unit</th>
                        <th>responsible</th>
                        <th>correspondence_type</th>
                        <th colspan="3">Action</th>

                    </tr>
                    {% for c in correspondenceList %}

                        <tr>

                            <td>{{ c.number }}</td>
                            <td>{{ c.date }}</td>
                            <td>{{ c.organisation }}</td>
                            <td>{{ c.subject }}</td>
                            <td>{{ c.reference_number }}</td>
                            <td>{{ c.department }}</td>
                            <td>{{ c.unit }}</td>
                            <td>{{ c.responsible }}</td>
                            <td>{{ c.correspondence_type }}</td>
                            <td><a href="{% url 'upco' c.id %}" class="btn btn-sm btn-warning"
                                   style="font-size: smaller"><i class="fa-solid fa-pen-to-square"></i>Update</a></td>
                            <td><a href="{% url 'dec' c.id %}" class="btn btn-sm btn-danger" style="font-size: smaller"><i
                                    class="bi bi-journal-x"></i>Delete</a>
                            </td>

                        </tr>
                    {% endfor %}
                </table>

            </div>

        </div>
    </div>

{% endblock %}