{% extends 'icparsa/template/main.html' %}
{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="font-size: x-small">
                <div class="contract-container" style="height: 450px; overflow: auto;">
                    <table class="table table-hover table-bordered table-sm small " id="tbl">
                        <thead class="thead-light">
                        <tr>
                            <th>Leave Number</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Leave Status</th>
                            <th>Total Leave Days</th>
                            <th>Leave Days</th>
                            <th>Used Leave Days</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for leave in employee_leaves %}
                            <tr>
                                <td>{{ leave.number }}</td>
                                <td>{{ leave.employee.first_name }}</td>
                                <td>{{ leave.employee.last_name }}</td>
                                <td>{{ leave.inDate }}</td>
                                <td>{{ leave.outDate }}</td>
                                <td>{{ leave.leave_status }}</td>
                                <td>{{ leave.total_leave_days }}</td>
                                <td>{{ leave.leave_days }}</td>
                                <td>{{ leave.leave_days_used }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}