{% extends 'icparsa/template/main.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h4 style="font-size: smaller; text-align: center">Record Leave</h4>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <form method="post" action="" id="leaveFormId" leave-data-url= {% url 'loadTitle' %}>
                {% csrf_token %}
                <div class="card card-body" style="font-size: x-small">

                    <fieldset class="border rounded-2 shadow bg-white shadow-inner border-success p-2 mt-2">
                        <div class="col-sm-12 p-2  rounded-1 shadow-sm">
                            <legend class="w-auto"><h6>-:</h6></legend>
                            <div class="row">
                                <div class="form-group col-2">
                                    {{ empForm.number|as_crispy_field }}
                                </div>
                                <div class="form-group col-2">
                                    {{ empForm.birth_date|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-2">
                                    {{ empForm.first_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-2">
                                    {{ empForm.last_name|as_crispy_field }}
                                </div>
                            </div>

                            <div class="row">

                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border rounded-2 shadow bg-white border-success p-2 mt-2">

                        <div class="col-sm-12 p-2  rounded-1 shadow-sm">
                            <legend class="w-auto"><h6>-:</h6></legend>
                            <div class="row">

                                <div class="form-group col-2">
                                    {{ empForm.department|as_crispy_field }}
                                </div>

                                <div class="form-group col-2">
                                    {{ empForm.title|as_crispy_field }}
                                </div>


                                <div class="form-group col-2">
                                    {{ empForm.hire_date|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-2">
                                    {{ empForm.home_phone|as_crispy_field }}
                                </div>
                                <div class="form-group col-2">
                                    {{ empForm.mobile_phone|as_crispy_field }}
                                </div>
                                <div class="form-group col-2">
                                    {{ empForm.home_address|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border rounded-2 shadow bg-white border-success p-2 mt-2">
                        <legend class="w-auto"><h6>-:</h6></legend>
                        <div class="row p-2 mt-1">
                            <div class="col-sm-9 p-2  rounded-1 shadow-sm border-info">
                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        {{ empForm.months_in_institution |as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-3">
                                        {{ empForm.total_leave_days |as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-3">
                                        {{ empForm.leave_days_used |as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        {{ empForm.outDate |as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-3">
                                        {{ empForm.leave_days |as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-3">
                                        {{ empForm.inDate |as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        {{ empForm.leave_status |as_crispy_field }}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3 p-2  rounded-1 shadow-sm  border-warning">
                                <div class="row p-2" id="remainingDays">

                                </div>

                                <div class="row p-2">
                                    <table class="table table-striped table-bordered table-sm small" style="max-height: 100px;
                                                                                                              overflow: auto;
                                                                                                              display:inline-block">
                                        <tr>
                                            <td>Name</td>
                                            <td>From</td>
                                            <td>To</td>
                                        </tr>
                                        {% for l in ongoingLeaves %}
                                            <tr>
                                                <td>{{ l.employee.first_name }}</td>
                                                <td>{{ l.outDate }}</td>
                                                <td>{{ l.inDate }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="row p-2">
                                    <p class="warning">NB: you are not allowed to take leave if there is member of your
                                        unit on
                                        leave</p>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="alert alert-success" role="alert">
                                    <div class="d-flex gap-4">
                                        <span><i class="fa-solid fa-circle-check icon-success"></i></span>
                                        <div>
                                            Leave Request was Sent.
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                </button>
                            </div>
                            <div class="modal-body">
                                Please wait for approval !
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                        id="closeButton">Ok
                                </button>
                                {#                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"#}
                                {#                                        id="addContract">Add Contract#}
                                {#                                </button>#}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <input type="submit" name="Send" class="btn btn-sm btn-info">
                <a href="/cop/lem" class="btn btn-sm btn-info">
                    <i class="fa-solid fa-list"></i> List
                </a>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // Set initial leave days used value
            const initialLeaveDaysUsed = $("#id_leave_days_used").val();
            const totalLeaveDays = $("#id_total_leave_days").val();

            // Get public holidays
            let publicHolidays;
            let umwakaTurimo = new Date().getFullYear()
            $.ajax({
                url: '/lem/phapi/rw/' + umwakaTurimo + '/',
                success: function (data) {
                    publicHolidays = data;
                }
            });

            // Hire date change event
            $('#id_hire_date').on('change', function () {
                const hireDate = new Date($(this).val());
                const currentDate = new Date();

                const monthsInInstitution = (currentDate.getFullYear() - hireDate.getFullYear()) * 12 + (currentDate.getMonth() - hireDate.getMonth());
                $("#id_months_in_institution").val(monthsInInstitution)

                leave_Days = monthsInInstitution * 1.5;
                $("#id_total_leave_days").val(leave_Days);
            });

            // Leave days input event with validation
            $("#id_leave_days").on("input", function () {
                let leaveDays = Number($(this).val());
                let usedLeaveDays = Number(initialLeaveDaysUsed);
                let remainingLeaveDays = totalLeaveDays - usedLeaveDays;

                if (leaveDays > remainingLeaveDays) {
                    alert("You cannot take more leave days than the remaining leave days.");
                    $(this).val(remainingLeaveDays);
                    leaveDays = remainingLeaveDays;
                }

                let totalLeaveDaysUsed = usedLeaveDays + leaveDays;
                $("#id_leave_days_used").val(totalLeaveDaysUsed);

                // Calculate the return date (inDate)
                let outDate = new Date($("#id_outDate").val());
                let inDate = new Date(outDate);
                let count = 0;
                while (count < leaveDays) {
                    inDate.setDate(inDate.getDate() + 1);
                    // Check if the day is a weekend or a public holiday
                    if (inDate.getDay() !== 0 && inDate.getDay() !== 6 && !publicHolidays.includes(inDate.toISOString().split('T')[0])) {
                        count++;
                    }
                }
                $("#id_inDate").val(inDate.toISOString().split('T')[0]);
            });

            // Department change event
            $("#id_department").on('change', function () {
                const url = $("#leaveFormId").attr("leave-data-url");
                const departmentId = $(this).val();
                $.ajax({
                    url: url,
                    data: {'department_id': departmentId},
                    success: function (data) {
                        console.log(data);
                        $("#id_title").html(data);
                    }
                });
            });

            let allowedDays = totalLeaveDays - initialLeaveDaysUsed
            $("#remainingDays").text("Remaining Days = " + allowedDays)
        });

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>
                    $(document).ready(function () {
                        $('#staticBackdrop').modal('show');
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('#closeButton').on('click', function () {
                            window.location.href = "{% url 'lem' %}";
                        });
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('#addContract').on('click', function () {
                            window.location.href = "/con/";
                        });
                    });
                </script>

            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}