{% extends 'icparsa/template/main.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h4 style="font-size: smaller; text-align: center">Record New Contract</h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="font-size: x-small">
                <form method="post" action="" id="contractFormId"
                      data-mebdep-url="{% url 'load_department_members_url' %}"
                      data-contract-category-url="{% url 'load_contract_type_url' %}">
                    {% csrf_token %}
                    <div class="col-sm-12 p-4  rounded-1 shadow-sm">
                        <div class="row">
                            <div class="form-group col-3">
                                {{ contractForm.number|as_crispy_field }}
                            </div>
                            <div class="form-group col-3">
                                {{ contractForm.name|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-3">
                                {{ contractForm.contractCategory|as_crispy_field }}
                            </div>
                            <div class="form-group col-3">
                                {{ contractForm.contractType|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-3">
                                {{ contractForm.department|as_crispy_field }}
                            </div>
                            <div class="form-group col-3">
                                {{ contractForm.departmentUnit|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                {{ contractForm.contract_status | as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ contractForm.secondParty | as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                {{ contractForm.signedDate | as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ contractForm.expirationDate | as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ contractForm.description |as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="alert alert-success" role="alert">
                                        <div class="d-flex gap-4">
                                            <span><i class="fa-solid fa-circle-check icon-success"></i></span>
                                            <div>
                                                Contract saved successfully !
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you want to record another?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                            id="closeButton"> Yes
                                    </button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                            id="addContract">Add Contract
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="submit" name="Send" value="Save" class="btn btn-sm btn-success">
                    <a href="/conts/" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-list"></i> List
                    </a>

                    <a href="/inst/" class="btn btn-sm btn-outline-secondary">
                        <i class="fa-solid fa-add"></i> Add Company
                    </a>
                    <a href="/consetName/" class="btn btn-sm btn-warning">
                        <i class="fa-solid fa-gears"></i> Contract
                    </a>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $("#id_department").on("change", function () {
            const url = $("#contractFormId").attr("data-mebdep-url");
            const departmentId = $(this).val();
            $.ajax({
                url: url,
                data: {'department_id': departmentId},
                success: function (data) {
                    console.log(data);
                    $("#id_departmentUnit").html(data)
                }
            });
        });
    </script>
    <script>
        $("#id_contractCategory").on("change", function () {
            const url = $("#contractFormId").attr("data-contract-category-url");
            const contractName_id = $(this).val();
            $.ajax({
                url: url,
                data: {'contractName_id': contractName_id},
                success: function (data) {
                    console.log(data);
                    $("#id_contractType").html(data)
                }
            });
        });
    </script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>
                    $(document).ready(function () {
                        $('#staticBackdrop').modal('show');
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('#closeButton').on('click', function () {
                            window.location.href = "{% url 'conts' %}";
                        });
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('#addContract').on('click', function () {
                            window.location.href = "/con/";
                        });
                    });
                </script>

            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}